<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xyw.product.goods.mapper.CategoryMapper">

  <resultMap id="categoryMap" type="com.xyw.product.goods.entity.Category">
    <id property="categoryId" column="category_id"/>
    <result property="parentId" column="parent_id"/>
    <result property="name" column="name"/>
    <result property="logo" column="logo"/>
    <result property="updateBy" column="update_by"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="createTime" column="create_time"/>
  </resultMap>
</mapper>
