<?xml version="1.0" encoding="UTF-8"?>


<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xyw.product.goods.mapper.CommentMapper">

  <resultMap id="commentMap" type="com.xyw.product.goods.entity.Comment">
    <id property="commentId" column="comment_id"/>
    <result property="goodsId" column="goods_id"/>
    <result property="userId" column="user_id"/>
    <result property="businessId" column="business_id"/>
    <result property="content" column="content"/>
    <result property="likeNum" column="like_num"/>
    <result property="star" column="star"/>
    <result property="isHaveImage" column="is_have_image"/>
    <result property="updateBy" column="update_by"/>
    <result property="createBy" column="create_by"/>
    <result property="updateTime" column="update_time"/>
    <result property="createTime" column="create_time"/>
  </resultMap>
</mapper>
